.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   /* background-color: azure; */
   width: 100%;
   /* background-color: #232e3f */
   background-color: antiquewhite;
   height:50px;
   margin-top: -0.5%;
   margin-left: -10px;
   

}
.box {
   /* background-color: red; */
   margin: 5px;
   padding: 0 5px 0 5px;
}
